In [1]:
!pip install pandoc

Collecting pandoc
  Downloading pandoc-2.3.tar.gz (33 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting plumbum
  Downloading plumbum-1.8.2-py3-none-any.whl (127 kB)
     -------------------------------------- 127.0/127.0 kB 1.9 MB/s eta 0:00:00
Collecting ply
  Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
     ---------------------------------------- 49.6/49.6 kB ? eta 0:00:00
Requirement already satisfied: pywin32 in c:\users\pinad\anaconda3\lib\site-packages (from plumbum->pandoc) (302)
Building wheels for collected packages: pandoc
  Building wheel for pandoc (setup.py): started
  Building wheel for pandoc (setup.py): finished with status 'done'
  Created wheel for pandoc: filename=pandoc-2.3-py3-none-any.whl size=33263 sha256=d904b3c160360d7fc72691f053dee19b1dda73e5d4c724c39f857511bb1fb39b
  Stored in directory: c:\users\pinad\appdata\local\pip\cache\wheels\69\e6\a1\1daa96d919c9e09a71473649b717b8da286f3f8d7719d1cfc5
Successfully built pandoc
Installing collected packages: ply, plumbum, pandoc
Successfully installed pandoc-2.3 plumbum-1.8.2 ply-3.11

In [1]:
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'

In [1]:
import random

In [2]:
random.seed = 1

In [2]:
import statsmodels.api as sm
import pandas as pd

In [4]:
dicionario = {
    "mes" : [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    "altura" : [50, 55, 57, 61, 62, 63, 64, 66, 67, 69, 71, 73, 75]
}

df = pd.DataFrame(dicionario)
df

    mes  altura
0     0      50
1     1      55
2     2      57
3     3      61
4     4      62
5     5      63
6     6      64
7     7      66
8     8      67
9     9      69
10   10      71
11   11      73
12   12      75

In [33]:
X = df.mes.values.reshape(-1,1)
Y = df.altura.values.reshape(-1,1)

In [12]:
X = sm.add_constant(X)
X

    const  mes
0     1.0    0
1     1.0    1
2     1.0    2
3     1.0    3
4     1.0    4
5     1.0    5
6     1.0    6
7     1.0    7
8     1.0    8
9     1.0    9
10    1.0   10
11    1.0   11
12    1.0   12

In [13]:
modelo = sm.OLS(Y, X)
modelo_v1 = modelo.fit()

In [14]:
modelo_v1.summary()

C:\Users\pinad\anaconda3\lib\site-packages\scipy\stats\stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=13
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 altura   R-squared:                       0.969
Model:                            OLS   Adj. R-squared:                  0.966
Method:                 Least Squares   F-statistic:                     341.2
Date:                Sun, 20 Mar 2022   Prob (F-statistic):           1.25e-09
Time:                        14:13:21   Log-Likelihood:                -21.129
No. Observations:                  13   AIC:                             46.26
Df Residuals:                      11   BIC:                             47.39
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         53.0989      0.700     75.811      0.000      51.557      54.641
mes            1.8297      0.099     18.472      0.000       1.612       2.048
==============================================================================
Omnibus:                        4.681   Durbin-Watson:                   0.901
Prob(Omnibus):                  0.096   Jarque-Bera (JB):                1.726
Skew:                          -0.496   Prob(JB):                        0.422
Kurtosis:                       4.484   Cond. No.                         13.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [15]:
valoresPrevistos = modelo_v1.predict(X)
valoresPrevistos

0     53.098901
1     54.928571
2     56.758242
3     58.587912
4     60.417582
5     62.247253
6     64.076923
7     65.906593
8     67.736264
9     69.565934
10    71.395604
11    73.225275
12    75.054945
dtype: float64

In [16]:
df["Valores Previstos"]= valoresPrevistos
df

    mes  altura  Valores Previstos
0     0      50          53.098901
1     1      55          54.928571
2     2      57          56.758242
3     3      61          58.587912
4     4      62          60.417582
5     5      63          62.247253
6     6      64          64.076923
7     7      66          65.906593
8     8      67          67.736264
9     9      69          69.565934
10   10      71          71.395604
11   11      73          73.225275
12   12      75          75.054945

In [17]:
modelo_v1.params

const    53.098901
mes       1.829670
dtype: float64

In [27]:
modeloLR.coef_

array([0.        , 1.82967033])

In [28]:
modeloLR.intercept_

53.098901098901095

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [34]:
# Criando o modelo
modeloLR = LinearRegression()

# Treinando o modelo
modeloLR.fit(X, Y)

# Fazendo previsões
previsoes = modeloLR.predict(X)

# Resultado
r2 = r2_score(Y, previsoes)
print("O R2 do modelo é:", r2*100)

# Cáculo do erro
print("O erro do modelo é:", mean_squared_error(previsoes, Y))

O R2 do modelo é: 96.87674727425217
O erro do modelo é: 1.5109890109890114

In [35]:
previsoes

array([[53.0989011 ],
       [54.92857143],
       [56.75824176],
       [58.58791209],
       [60.41758242],
       [62.24725275],
       [64.07692308],
       [65.90659341],
       [67.73626374],
       [69.56593407],
       [71.3956044 ],
       [73.22527473],
       [75.05494505]])

In [26]:
df["Previsões Scikit"] = previsoes
df

    mes  altura  Valores Previstos  Previsões Scikit
0     0      50          53.098901         53.098901
1     1      55          54.928571         54.928571
2     2      57          56.758242         56.758242
3     3      61          58.587912         58.587912
4     4      62          60.417582         60.417582
5     5      63          62.247253         62.247253
6     6      64          64.076923         64.076923
7     7      66          65.906593         65.906593
8     8      67          67.736264         67.736264
9     9      69          69.565934         69.565934
10   10      71          71.395604         71.395604
11   11      73          73.225275         73.225275
12   12      75          75.054945         75.054945

In [30]:
X

    const  mes
0     1.0    0
1     1.0    1
2     1.0    2
3     1.0    3
4     1.0    4
5     1.0    5
6     1.0    6
7     1.0    7
8     1.0    8
9     1.0    9
10    1.0   10
11    1.0   11
12    1.0   12